*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 900px;
    margin: 0 auto;
    background-color: aliceblue;
}
#container{
    width: 35rem;
    margin: 4rem auto;
}
h2{
    text-align: center;
    font-size: 70px;
}
#main_image{
    width: 100%;
    padding: 1rem;
    box-shadow: 3px 3px 10px black;
}
#thumbnails_container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    cursor: pointer;
    padding-right: 5px;
}